* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
}

.main {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.spacex.com/sites/spacex/files/starship_mk1_night_v2_0.jpg");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 75px;
    background-color: black;
    padding: 0 70px;
}

.lefttabs {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.righttabs {
    color: lightgray;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.centermenu {
    height: 85px;
    width: 100vw;
    background-color: rgb(65, 67, 68, 0.5);
    position: fixed;
    bottom: 0;
}
.updates {
    height: 70px;
    width: 100%;
    background-color: rgb(65, 67, 68, 0.8);
    bottom: 0;
    position: fixed;
}
